<link rel="stylesheet" href="~/CSS/dizajn.css" type="text/css" />
@{
    ViewBag.Title = "RegisterError";
}

<h2>RegisterError</h2>

<div>
    @ViewBag.Message
</div>

<a href="~/Authentication/Register">Nazad</a>

