body {
    background-color:lightblue;
}

table
{
    background-color:lightyellow;
    color:black;
    
}

h3
{
    color:lightcoral;
}

form
{
    color:lightcoral;
    
}
form input
{
    color:black
}
h2 ,h3
{
    color:lightcoral;
    
}



