<link rel="stylesheet" href="~/CSS/dizajn.css" type="text/css" />
@{
    ViewBag.Title = "PrijavaSuccess";
}

<h2>PrijavaSuccess</h2>
<p>@ViewBag.Message</p>

<a href="~/FitnesCentar/Index">Pocetna</a>